<?xml version="1.0"?>
<cfg:config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://aslweb.cr.usgs.gov SeedScanConfig.xsd"
    xmlns:cfg="config.seedscan.asl">

    <cfg:lockfile>seedscan.lock</cfg:lockfile>

    <cfg:database>
        <cfg:uri>jdbc:postgresql://vmdevdb.cr.usgs.gov:5432/dqa_dev</cfg:uri>
        <cfg:username>username</cfg:username>
        <cfg:password>
            <cfg:plain>password</cfg:plain>
        </cfg:password>
    </cfg:database>
    <cfg:qualityflags>All</cfg:qualityflags>
    <cfg:path>miniseed/${NETWORK}_${STATION}/${YEAR}/${JDAY}</cfg:path>
    <cfg:plots_dir>plots</cfg:plots_dir>
    <cfg:dataless_dir>metadata/</cfg:dataless_dir>
    <cfg:events_dir>events/</cfg:events_dir>

    <cfg:metrics>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.AvailabilityMetric</cfg:class_name>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.GapCountMetric</cfg:class_name>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.TimingQualityMetric</cfg:class_name>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.MassPositionMetric</cfg:class_name>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.VacuumMonitorMetric</cfg:class_name>
        </cfg:metric>

<!-- Event Metrics:  -->
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.EventCompareStrongMotion</cfg:class_name>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.EventCompareSynthetic</cfg:class_name>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>

<!-- PowerBand Metrics:  -->
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.ALNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">4</cfg:argument>
            <cfg:argument cfg:name="upper-limit">8</cfg:argument>
            <cfg:argument cfg:name="channel-restriction">LN,HN</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.ALNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">18</cfg:argument>
            <cfg:argument cfg:name="upper-limit">22</cfg:argument>
            <cfg:argument cfg:name="channel-restriction">LN,HN</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>

        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.CoherencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">4</cfg:argument>
            <cfg:argument cfg:name="upper-limit">8</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.CoherencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">18</cfg:argument>
            <cfg:argument cfg:name="upper-limit">22</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.CoherencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">90</cfg:argument>
            <cfg:argument cfg:name="upper-limit">110</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.CoherencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">200</cfg:argument>
            <cfg:argument cfg:name="upper-limit">500</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>

        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.DifferencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">4</cfg:argument>
            <cfg:argument cfg:name="upper-limit">8</cfg:argument>
            <cfg:argument cfg:name="makeplots">false</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.DifferencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">18</cfg:argument>
            <cfg:argument cfg:name="upper-limit">22</cfg:argument>
            <cfg:argument cfg:name="makeplots">false</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.DifferencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">90</cfg:argument>
            <cfg:argument cfg:name="upper-limit">110</cfg:argument>
            <cfg:argument cfg:name="makeplots">false</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.DifferencePBM</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">200</cfg:argument>
            <cfg:argument cfg:name="upper-limit">500</cfg:argument>
            <cfg:argument cfg:name="makeplots">false</cfg:argument>
        </cfg:metric>

        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.NLNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">.5</cfg:argument>
            <cfg:argument cfg:name="upper-limit">1</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.NLNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">0.125</cfg:argument>
            <cfg:argument cfg:name="upper-limit">0.25</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.NLNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">4</cfg:argument>
            <cfg:argument cfg:name="upper-limit">8</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="channel-restriction">LH</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.NLNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">18</cfg:argument>
            <cfg:argument cfg:name="upper-limit">22</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="channel-restriction">LH</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.NLNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">90</cfg:argument>
            <cfg:argument cfg:name="upper-limit">110</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="channel-restriction">LH</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.NLNMDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">200</cfg:argument>
            <cfg:argument cfg:name="upper-limit">500</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="channel-restriction">LH</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.DeadChannelMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">4</cfg:argument>
            <cfg:argument cfg:name="upper-limit">8</cfg:argument>
            <cfg:argument cfg:name="makeplots">false</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.StationDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">4</cfg:argument>
            <cfg:argument cfg:name="upper-limit">8</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="modelpath">models/</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.StationDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">18</cfg:argument>
            <cfg:argument cfg:name="upper-limit">22</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="modelpath">models/</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.StationDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">90</cfg:argument>
            <cfg:argument cfg:name="upper-limit">110</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="modelpath">models/</cfg:argument>
        </cfg:metric>
        <cfg:metric>
            <cfg:class_name>asl.seedscan.metrics.StationDeviationMetric</cfg:class_name>
            <cfg:argument cfg:name="lower-limit">200</cfg:argument>
            <cfg:argument cfg:name="upper-limit">500</cfg:argument>
            <cfg:argument cfg:name="makeplots">true</cfg:argument>
            <cfg:argument cfg:name="modelpath">models/</cfg:argument>
        </cfg:metric>
    </cfg:metrics>
</cfg:config>
